<section id="posts">
<% if @posts.any? ; for post in @posts %>
  <article id="post-<%= post.id %>">
    <header>
      <hgroup>
        <h1><%= post.title %></h1>
      </hgroup>
    </header>
    <%= post.content_html %>
  </article>
<% end ; end %>
</section>